flake8==6.0.0
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
fastapi
# uvicorn[standard]
uvicorn
psycopg[binary, pool]
pytest
openai
python-multipart
python-jose[cryptography]
passlib[bcrypt]
PyPDF2
